body {
    height: 100vh;
    margin: 0;
}

div {
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

p {
    font-size: 3vw;

}

#Caja_1 {
    background-color: orange;
    height: 30%
}

#Caja_1_1 {
    width: 20%;
    align-items: center;
}

#Caja_1_2 {
    width: 80%;
    align-items: center;
}

#Caja_2 {
    background-color: blue;
    height: 10%;
    width: 100%;
    align-items: center;
}

#Caja_3 {
    height: 50%;
    background-color: yellow;
}

#Caja_3_1 {
    width: 70%;
    align-items: center;
}

#Caja_3_2 {
    width: 30%;
    align-items: center;
}

#Caja_4 {
    background-color: red;
    height: 10%;
    align-items: center;
}

