body {
    height:100vh;
    margin: 0;
}

div {
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    background-color: orange;
}

p {
    font-size: 3vw;
}

#Caja_1 {
    height: 300px;
    width: 100%;

    justify-content:space-between;
    align-items: center;
}

#Caja_2 {
    height: 300px;
    width: 100%;

    justify-content:space-around;
}

#Caja_3 {
    height: 300px;
    width: 100%;

    justify-content:center;
    align-items:end;
}

#Caja_4 {
    height: 300px;
    width: 100%;
    display: flex;
}

.Caja_Secundaria {
    height: 100px;
    width: 100px;
    background-color: green;
}