#cabecera {
    background-color: lightslategray;
    color: white;
}

#datos {
    background-color: grey;
}

.tabla {
    background-color: lightgray;
}

#celdaRoja {
    background-color: red;
}

td {
    text-align: center;
}