* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color:burlywood
}

div {
    display: flex;
    box-sizing: border-box;
}

#Caja_1 {
    height: 35%;
    width: 100%;
    margin-bottom: 2vh;
}

#Imagen_1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}

#Caja_2 {
    height: 10%;
    width: 100%;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: center;
}

#Encabezado_1 {
    font-size: 15vmin;
}

#Caja_3 {
    height: 5%;
    width: 100%;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: antiquewhite;
}

#Lista_1 {
    width: 100%;
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#Caja_4 {
    height: 37%;
    width: 100%;
    margin-bottom: 2vh;
    justify-content: space-around;
    align-items: center;
}

.Caja_4_1 {
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}

.Caja_4_1_1 {
    height: 100%;
    width: 45%;
    flex-direction: column;
    justify-content: space-around;
    background-color: antiquewhite;
}

.Parrafo_1 {
    font-size: 6vmin;
}

.Parrafo_2 {
    font-size: 3vmin;
}

.Caja_4_1_2 {
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: center;
}

.Imagen_2 {
    height: 90%;
    width: 100%;
}

#Caja_5 {
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color: white;
}