body {
    margin: 0px;
}

.Zonas {
    display: flex;
    justify-content: space-around;
}

#Zona_1 {
    background-color: red;
    height: 100vh;
    width: 100%;
}

#Zona_2 {
    background-color: green;
    height: 100vh;
    width: 100%;
}

#Zona_3 {
    background-color: yellow;
    height: 100vh;
    width: 100%;
}

#Zona_4 {
    background-color: brown;
    height: 100vh;
    width: 100%;
}