body {
    background-color: olive;
}

div { 
    display: flex;
    justify-content: space-between;
}

img {
    height: 100px;
}

#Imagen_1 {
    background-color: greenyellow;
}

#Imagen_2 {
    background-color: red;
}

#Imagen_3 {
    background-color: blue;
}